.sing-up {
	background-image: url('../../images/backgroundsinguptow.jpg');
	height: 100vh;
	backgorund-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

@media (max-width : 767px) {
	.sing-up {
		display: block !important;
	}
}

.sing-up .form-sing-up {
	background-color: white;
	width: 420px;
	height: calc(100vh - 40px);
	position: absolute;
	right: 60px;
	padding: 40px 40px 0;
}

@media (max-width : 767px) {
	.sing-up .form-sing-up {
		width: 100%;
		right: auto;
		margin-top: 60px;
	}
}

.sing-up h1 {
	font-weight: 400;
	font-size: 50px;
	color: #3f414d;
}

.sing-up p {
	font-size: 15px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
}

.sing-up form {
	display: flex;
	flex-direction: column;
}

.sing-up form label {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #3f414d;
}

.sing-up form input {
	padding: 10px 5px;
	outline: none;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 10px;
}

.sing-up form .ruls {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	align-items: center;
}

.sing-up form input[type='checkbox'] {
	margin-right: 10px;
}

.sing-up form .ruls p {
	flex: 1;
	font-size: 14px;
}

.sing-up form input[type='submit'] {
	margin-left: 20px;
	background-color: black;
	color: white;
	border: 1px solid black;
	font-weight: 300;
	cursor: pointer;
}

.sing-up form .ruls p a {
	font-weight: 600;
	color: black;

}

.sing-up form .social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.sing-up form .social p a {
	color: black;
	font-weight: 600;
}

.sing-up form .social-media {
	display: flex;
	align-items: center;

}

.sing-up form .social-media a {
	margin-left: 10px;
	color: black;
}

.sing-up form .social p {
	font-size: 14px;
}

.sing-up form .social-media .icon-fb,
.icon-tw,
.icon-ins {
	font-size: 25px;

}

.dark {
	background-color: #2b4e6c96;
	position: absolute;
	height: 100%;
	width: 100%;
}

.sing-up {
	display: flex;
}

.sing-up .images {
	position: relative;
	z-index: 5;
	width: calc(100% - 500px - 60px);
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

@media (max-width : 767px) {
	.sing-up .images {
		width: 100%;
	}
}

.sing-up .images img {
	width: 400px;
}

@media (max-width : 764px) {
	.sing-up .images img {

		width: 360px;
	}
}